spacy
huggingface_hub
slowapi
pdfplumber
scikit-learn
openai
pydantic
PyPDF2
rapidfuzz
sentence-transformers
python-docx
fastapi
uvicorn[standard]
redis
celery
psycopg2-binary
python-multipart
PyMuPDF

grpcio
grpcio-tools
